﻿@model web_interview.Models.Customer

@{
    ViewBag.Title = "Code Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>


@using (Html.BeginForm("MyAction", "Customer", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "506-222-3333" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label>Male</label>
                @Html.RadioButtonFor(model => model.Gender, "Male")
                <label>Female</label>
                @Html.RadioButtonFor(model => model.Gender, "Female")
                <label>Other</label>
                @Html.RadioButtonFor(model => model.Gender, "Other")
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ocupation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ocupation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ocupation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                <input type="submit" name="options" value="save_json" class="btn btn-default" formaction=@Url.Action("ActionHandler") formmethod="post" />
            </div>
            <div class="col-sm-2">
                <input type="submit" name="options" value="view_json" class="btn btn-default" formaction=@Url.Action("ActionHandler") formmethod="post" />
            </div>

            <div class="col-sm-2">
                <input type="submit" name="options" value="save_xml" class="btn btn-default" formaction=@Url.Action("ActionHandler") formmethod="post" />
            </div>
            <div class="col-sm-2">
                <input type="submit" name="options" value="view_xml" class="btn btn-default" formaction=@Url.Action("ActionHandler") formmethod="post" />
            </div>
        </div>
    </div>
}

<p>
    @ViewBag.Message
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
