﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Razor</h1>
    <p class="lead">System requirements.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Requirements:</h3>
        <p>
            A web MVC .Net application with the next fields: Name, Last Name, Telephone, Sex, Occupation, all the fields must be required, with validation on client side, the page must have 4 buttons:
        </p>
    </div>
    <div class="col-md-4">
        <ol>
            <li>Save Json: Must save the data in a json format, if I save more than 1 data I need to append the data to the existing file</li>
            <li>Save XML: Must save the data in a xml format, if I save more than 1 data I need to append the data to the existing file</li>
            <li>Retrieve Json: Must show the data in the json file, the data must be displayed in a html table without reload the page</li>
            <li>Retrieve XML: Must show the data in the xml file, the data must be displayed in a html table without reload the page</li>
        </ol>
    </div>
    <div class="col-md-4">
        <p>
            For this test I expect you use the following technologies: jQuery, jQuery validation, Interfaces, Design Pattern(Repository and Factory), Restful
        </p>
        <p>
            The design of the page is your decision, this project must be uploaded to GitHub or GitLab, please confirm if you receive this email
        </p>
    </div>
</div>